<div class="container-sm">
  <h1>Your Cart</h1>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems">
        <span matListItemTitle> {{ item?.name }}</span>
        <span matListItemLine>{{ item?.price | currency : "INR" }}</span>
      </mat-list-item>

      <mat-list-item>
        <span class="price" matListItemTitle> Total (INR)</span>
        <span class="price" matListItemLine>{{
          totalPrice | currency : "INR"
        }}</span>
      </mat-list-item>

      <mat-list-item class="text-left">
        <button mat-flat-button (click)="clearCart()">Clear</button>
      </mat-list-item>
      <mat-list-item class="text-center">
        <button mat-flat-button color="danger" (click)="checkOut()">
          Check-Out
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
